<%= image_tag 'image1.jpeg' , style: 'width: 100%; height:50%', alt: 'Image 1', class: 'image1'%>
<div class="slide-up">
  <div class="container one">
    <h1>
      <span>Get your way </span><br />
      <span>home worldwide </span>
    </h1>
    <p>A small river named Duden flows by their place and  <br /> supplies it with the necessary regelialia.</p>
  </div>

  <div class="container search">
    <div class="row justif-content-center">
      <div class="col-md col-md-6"> 
          <input type="text" name="search" class="form-control" placeholder="Search Location">
          <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<section class="section1" id="">
  
  <div class="container" id="slide-up">
    <div class="row justify-content-center">  
      <div class="services slide-up1"> 
        <center><h1>Our Services</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p></center>
      </div>

    <div class="col-md-3 ar slide-ups">
      <div class="map">
        <center><i class="fa fa-map" aria-hidden="true"></i></center>
      </div>
      <center><h5>Find a place anywhere in Arusha</h5></center>
     <center><p> A small river named Duden flows by their place and supplies it with the necessary regelialia.</p></center>
    </div>

    <div class="col-md-3 ar slide-ups">
      <div class="map">
        <center><i class="fa fa-user-secret" aria-hidden="true"></i></center>
      </div>
      <center><h5>We have Agents</h5></center>
     <center><p> A small river named Duden flows by their place and supplies it with the necessary regelialia.</p></center>
    </div>
    <div class="col-md-3 ar slide-ups">
      <div class="map">
        <center><i class="fa fa-home" aria-hidden="true"></i></center>
      </div>
      <center><h5>Buy & rent modern properties</h5></center>
     <center><p> A small river named Duden flows by their place and supplies it with the necessary regelialia.</p></center>
    </div>
    <div class="col-md-3 ar slide-ups">
      <div class="map">
        <center><i class="fa fa-credit-card-alt" aria-hidden="true"></i></center>
      </div>
      <center><h5>Making Money</h5></center>
     <center><p> A small river named Duden flows by their place and supplies it with the necessary regelialia.</p></center>
    </div>
  </div>

</section>



<script>
  // Add the animation class after a delay (e.g., when the page loads)
  window.addEventListener('load', function() {
    var element = document.querySelector('.slide-up');
    element.classList.add('animate-slide-up');
  });
</script>









